/*-----------------------------------------------------------------*/
/*-------------------------- General properties -------------------*/
/*-----------------------------------------------------------------*/
body {
    background-color: white;
    color: #444;
    font-family: Georgia;
    line-height: 1.7;
    -ms-content-zooming: none;
        
    margin-top: 32px;
    margin-bottom: 64px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin: 0.2em 0;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    text-align: left !important;
    line-height: 1.3;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.3em;
}

h3,
h4 {
    font-size: 1.2em;
}

h5,
h6 {
    font-size: 1.1em;
}

p {
    margin-bottom: 0.75em;
}

b, strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

a {
    color: #444;
    text-decoration: underline;
}

    a:active,
    a:hover {
        outline: 0;
    }

p,
ul,
ol,
dl {
    margin: 0 0 1.75em 0;
}

ul,
ol {
    padding-left: 1.25em;
}

li {
    padding-bottom: 0.2em;
    line-height: 1.6;
}

    li p:last-child,
    li li:last-child {
        margin-bottom: -0.2em;
    }

ul li:last-child,
ol li:last-child {
    padding-bottom: 0;
}

mark {
    padding: 0 0.2em;
}

    mark a {
        text-decoration: none;
    }

blockquote {
    font-style: italic;
    border-left: 0.25em solid black;
    margin-left: -1.4375em;
    padding-left: 1.25em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

    blockquote cite {
        text-transform: uppercase;
        font-size: 0.8em;
        font-style: normal;
    }

        blockquote cite:before {
            content: "—";
            margin-right: 0.5em;
        }

img {
    display: block;
    height: auto;
    margin-bottom: 0.5em;
    max-width: 100%;
}

figure {
    margin: 0;
}

    figure figcaption {
        display: block;
        margin-top: 0.3em;
        font-style: italic;
        font-size: 0.8em;
    }

button {
    display: none !important;
}

hr {
    display: block;
    height: 1px;
    border: solid #666;
    border-width: 1px 0 0 0;
    margin: 1.6em 0;
    padding: 0;
}

small {
    font-size: 0.7em;
}

dl {
    margin: 1.6em 0;
}

    dl dt {
        float: left;
        width: 11.25em;
        overflow: hidden;
        clear: left;
        text-align: right;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
        margin-bottom: 1em;
    }

    dl dd {
        margin-left: 12.5em;
        margin-bottom: 1em;
    }

pre {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 4em 0;
    border: 0.0625em solid #efefef;
    width: 100%;
    padding: 1em;
    font-family: Consolas, monospace;
    white-space: pre;
    overflow: auto;
}

    pre code {
        font-size: 0.8em;
        line-height: 1.6em;
        white-space: pre-wrap;
        background: transparent;
        border: none;
        padding: 0;
        vertical-align: inherit;
    }

code {
    padding: 0.125em 0.375em;
    margin: 0 .2em;
    font-family: Consolas, monospace;
    font-size: 0.8em;
    white-space: pre;
    border: 1px solid lightgray;
}

audio, video {
    max-width: 43.75em;
}

::selection, mark {
    background: #666;
    color: white;
}

table {
    border-collapse: collapse;
    margin-bottom: 1.5em;
    width: 100%;
}

th, td {
    padding: .25em;
    text-align: left;
}

thead tr {
    text-transform: uppercase;
    font-size: 0.85em;
    letter-spacing: 1px;
    font-family: "Segoe UI", sans-serif;
    font-weight: 600;
}

tbody tr:nth-child(2n+1) {
    background: rgba(0, 0, 0, 0.1);
}

tbody {
    border: solid #999;
    border-width: 1px 0px;
}

article {
    margin: 0 auto;
    max-width: 43.75em;
    padding: 0 1.25em;
}

/*-----------------------------------------------------------------*/
/*------------------------------ Header ---------------------------*/
/*-----------------------------------------------------------------*/

.wallabag-header {
    max-width: 43.75em;
    margin: 0 auto;
}

    .wallabag-header h1,
    .wallabag-header h2 {
        padding: 0 1.25em;
        text-align: center;
    }

    .wallabag-header h1 {
        font-size: 1.5em;
        font-weight: 300;
        line-height: 1.4;
        margin-top: 0.75em;
        margin-bottom: 0.4em;
    }

    .wallabag-header h2 {
        color: #808080;
        display: block;
        font-size: 0.9em;
        font-weight: 400;
        line-height: 1.3;
        margin-bottom: 1.5em;
    }

        .wallabag-header h2 a,
        .wallabag-header h2 span {
            margin: 0 0.25em;
        }

        .wallabag-header h2 a {
            color: #808080 !important;
            text-decoration: none !important;
        }

    .wallabag-header ul {
        list-style: none;
        margin: 0 auto;
        margin-top: -.8em;
        margin-bottom: 1.5em;
        text-align: center;
        padding: 0;
        color: #808080;
    }

        .wallabag-header ul li {
            display: inline-block;
            background: rgba(0,0,0,0.1);
            border-radius: 1px;
            padding: .1em .3em;
            margin: 0 0.2em;
            font-size: 0.9em;
        }

/*-----------------------------------------------------------------*/
/*----------------------- Customization ---------------------------*/
/*-----------------------------------------------------------------*/

[data-font="serif"] body {
    font-family: Cambria;
}

[data-font="sans"] body {
    font-family: 'Segoe UI';
}

[data-color="light"] body {
    background: #ffffff;
    color: #444;
}

[data-color="light"] a {
    color: #888;
}

[data-color="light"] blockquote {
    border-color: #000;
}

[data-color="sepia"] body {
    background: beige;
    color: maroon;
}

[data-color="sepia"] a {
    color: #9a0000;
}

[data-color="sepia"] .wallabag-header h2 {
    border-color: #b3b3b3;
    color: maroon;
}

    [data-color="sepia"] .wallabag-header h2 a {
        color: maroon !important;
    }

[data-color="sepia"] blockquote {
    border-color: #670000;
}

[data-color="dark"] body {
    background: #333333;
    color: #cccccc;
}

[data-color="dark"] a {
    color: #e6e6e6;
}

[data-color="dark"] .wallabag-header h2 {
    border-color: #b3b3b3;
    color: #808080;
}

    [data-color="dark"] .wallabag-header h2 a {
        color: #808080 !important;
    }

[data-color="dark"] blockquote {
    border-color: #e6e6e6;
}

[data-color="black"] body {
    background: #000000;
    color: #b3b3b3;
}

[data-color="black"] a {
    color: #cccccc;
}

[data-color="black"] .wallabag-header h2 {
    border-color: #b3b3b3;
    color: #808080;
}

    [data-color="black"] .wallabag-header h2 a {
        color: #808080 !important;
    }

[data-color="black"] blockquote {
    border-color: #cccccc;
}
/*-----------------------------------------------------------------*/
/*--------------------- Responsive design -------------------------*/
/*-----------------------------------------------------------------*/
@media (max-width: 767px) {
    blockquote {
        margin-left: -20px;
        padding-left: 17px;
    }
}
